# Usage: pip install -r requirements.txt

# Base ----------------------------------------
torch
torchvision
matplotlib
numpy
opencv-python
pandas
scikit-learn
ultralytics
pyyaml
tqdm
torchcam


